* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}
#main {
    margin-top: 20px;
}

.book-list-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-bottom: none;
}

.book-list-item:last-of-type {
    border-bottom: 1px solid #ccc;
}

.book-list-item:hover, .book-list-item.current {
    background-color: #cccccc;
    cursor: pointer;
}

.book-list-item-title {
    font-weight: bold;
}

.book-single-wrapper {
    padding: 10px;
    border: 1px solid #ccc;
}

.books-list-wrapper {
    height: 600px;
    overflow: hidden;
}

.book-single-description {
    margin-top: 10px;
}

.book-list-item-author {
    color: #8c8c8c;
    font-style: italic;
}

.book-single-image img {
    width: 35%;
    height: auto;
    display: block;
}

/* FORM */

.book-filter-form {
    position: absolute;
    top: -49px;
}

.form-group {
    position: relative;
}

.error.form-group input {
    background: rgba(247,1,1,0.2);
}

.error-text {
    color: crimson;
    position: absolute;
    top: 57px;
    font-size: 12px;
}
.book-filter-form-edit {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 10px;
    margin-right: 10px;
}
